<mat-toolbar class="header">
    <mat-toolbar-row>
        <img src="../../assets/book.png">
        <span class="bookstore" (click)="dashboard()">Book Store</span>
        <span [formGroup]="header" class="input-feild">
            <div class="search">
                <span class="fa fa-search"></span>
                <input placeholder="Search">
            </div>
        </span>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="wishlist">
            <mat-icon matBadge="{{wishlist}}" matBadgeColor="warn" (click)="goToWishlist()">favorite_border</mat-icon>
        </button>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="cart" (click)="goToCart()" class="bag">
            <mat-icon matBadge="{{childMessage}}" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>